- content_for :page_title, "#{@register.name}"

%main#content{role:'main'}
  .grid-row
    .column-two-thirds
      %h1.heading-large Editing register
      = render 'form'
      = link_to 'Remove register', register_path(@register), method: :delete, data: { confirm: 'Are you sure?' }
