- content_for :page_title, 'Home'

.breadcrumbs{"data-module" => "track-click"}
  %ol
    %li
      = link_to "Service Toolkit", "https://www.gov.uk/service-toolkit", target: :blank
    %li
      Registers

%h1.heading-large Registers

= link_to 'View all registers', registers_path
