@import 'govuk-elements';
@import 'header-tweaks';
@import 'govuk-organisation-logo';

// Override table font size
table td,
table th {
  font-size: 16px;
  padding: 15px 40px 15px 0;

 .unknown {
  color: $grey-2;
 }
}

// Override purple colour
a:visited {
  color: $govuk-blue;
}

.browse-list {
  margin-bottom: 30px;

  &__item {
    list-style: none;

    @include media(tablet) {
      margin-bottom: 5px
    }
  }

  &__link {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    text-transform: none;

     @include media(tablet) {
      font-size: 24px;
      line-height: 1.25;
    }
  }
}

dl {
  margin-bottom: 20px;
  overflow: hidden;

  dt {
    clear: left;
    float: left;
    font-weight: bold;
    max-width: 150px;
    padding-bottom: 0.5rem;
    padding-right: 1%;
    width: 20%;
  }

  dd {
    float: left;
    margin: 0;
    max-width: 480px;
    padding-bottom: 0.5rem;
    width: 78%;

  }
}

.breadcrumbs {
  margin-bottom: 20px;
}

.register-name {
  margin: 0 0 20px;
}

.search-wrapper {
  border-top: 2px solid $grey-3;
  margin: 40px 0 20px 0;
  padding-top: 40px;

  .heading-large {
    margin-top: 0;
  }
}

.form-group .form-control {
  margin-top: 0;
  width: 100%;
}

select.form-control {
  background-color: $white;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: rgb%280, 0, 0%29'></polygon></svg>");
  background-repeat: no-repeat;
  background-position: center right 10px;
  background-size: 10px;
  border-radius: 0;
  height: 38px;
  padding-right: 30px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.panel.phase {
  margin-bottom: 40px;
}

.tablesorter-header {
  .tablesorter-header-inner {
    color: $govuk-blue;
    font-weight: normal;
    text-decoration: underline;
  }

  &.tablesorter-headerAsc,
  &.tablesorter-headerDesc {
    .tablesorter-header-inner {
      display: inline-block;
      font-weight: bold;
      position: relative;
      padding-right: 10px;

      &:after {
        content: "";
        display: block;
        height: 0;
        line-height: 16px;
        margin-left: 5px;
        position: absolute;
        right: 0;
        top: 7px;
        width: 0;
      }
    }
  }

  &.tablesorter-headerAsc {
    .tablesorter-header-inner:after {
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 8px solid $govuk-blue;
    }
  }

  &.tablesorter-headerDesc {
    .tablesorter-header-inner:after {
      border-bottom: 8px solid $govuk-blue;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
    }
  }
}

.entries {
  border-left: 10px solid $grey-3;
  list-style-type: none;
  padding-left: 30px;

  &__item {
    position: relative;
    padding: 20px 0;

    &:before {
      background-color: $grey-3;
      content: "";
      display: block;
      height: 10px;
      left: -30px;
      position: absolute;
      width: 10px;
    }
  }

  &__date {
    color: $grey-1;
    display: block;
    font-size: 16px;
    line-height: 1;
    margin-bottom: 20px;
  }

  .heading-medium {
    margin-top: 0;
  }
}
